<section class="editor">
  <header>
    <h3>{{'playground.editor' | translate}}</h3>
    <nav>
      <button *ngFor="let fileKey of fileKeys"
        mat-button
        [class.active]="(editorFile === fileKey)"
        [class.errored]="errorKeys.includes(fileKey)"
        (click)="(editorFile = fileKey)">{{fileKey}}</button>
    </nav>
  </header>
  <div>
    <itm-demo-json-editor *ngFor="let fileKey of fileKeys"
      [model]="getEditorModel(fileKey)" (modelChange)="handleEditorChange(fileKey, $event)"
      [class.hidden]="(editorFile !== fileKey)"></itm-demo-json-editor>
  </div>
</section>
<section class="view">
  <header>
    <h3>{{'playground.view' | translate}}</h3>
  </header>
  <div>
    <div class="view-container" [class.hidden]="errorKeys.length">
      <ng-container #viewCompContainer></ng-container>
    </div>
    <div class="error-container" [class.hidden]="!errorKeys.length">
      <itm-demo-ajv-errors *ngFor="let errorKey of errorKeys" [errors]="errors.get(errorKey)"></itm-demo-ajv-errors>
    </div>
  </div>
</section>
