@import '../../theme';

:host {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

section {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;

  & > header {
    @extend %toolbar;
  }

  & > div {
    flex: 1;
  }

  &.editor {
    background-color: primary-color(9);

    & > header {
      background-color: accent-color(8);

      button {
        position: relative;

        &.errored {
          &::after {
            content: 'â—';
            position: absolute;
            right: 0.25rem;
            color: mat-color($warn);
          }
        }
      }
    }

    & > div {
      position: relative;
      overflow: hidden;

      & > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &.hidden {
          left: -100%;
        }
      }
    }
  }

  &.view {
    background-color: accent-color(6);

    & > div {
      flex: 1;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;

      & > div {
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &.hidden {
          left: -100%;
        }
      }
    }
  }
}
