@import '~@angular/material/theming';

$general-typography: mat-typography-config(
  $font-family: '"Open Sans", sans-serif'
);

$alt-font-family: "Bitter", serif;

$primary: mat-palette($mat-grey);
$accent: mat-palette($mat-green);
$warn: mat-palette($mat-red);
$theme: mat-dark-theme($primary, $accent, $warn);

%heading {
  padding: 0.5rem 1rem;
  margin: 0;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}
