@mixin itm-field($theme, $config) {
  $selector: 'itm-field';

  .#{$selector} {
    display: block;

    & > .#{$selector}-label {
      font-size: 12px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}
