@mixin itm-grid($theme, $config) {
  $selector: 'itm-grid';

  .#{$selector} {
    @extend .mat-body-1;

    display: grid;
  }

  .#{$selector}-area {
    box-sizing: border-box;
    position: relative;
    padding: 6px;

    &.#{$selector}-first-col {
      padding-left: 12px;
    }

    &.#{$selector}-last-col {
      padding-right: 12px;
    }

    &.#{$selector}-first-row {
      padding-top: 12px;
    }

    &.#{$selector}-last-row {
      padding-bottom: 12px;
    }
  }
}
