@mixin itm-card-area($config) {
  $selector: 'itm-card-area';

  .#{$selector} {
    display: block;

    & > .label {
      font-size: 12px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}
