@mixin itm-slot($config) {
  $slots: 24;
  $total-size: 1440px;

  .itm-slot {
    box-sizing: border-box;
    padding: 0 12px;
  }

  @for $i from 1 through $slots {
    .itm-slot-#{$i} {
      width: $total-size / 24 * $i;
    }
  }
}
