
<ng-container *ngIf="actionDef" [ngSwitch]="mode">
  <button *ngSwitchCase="'menu'" mat-menu-item (click)="emitEvent($event)">
    <ng-container *ngTemplateOutlet="btnBody"></ng-container>
  </button>
  <button *ngSwitchCase="'icon'" mat-icon-button (click)="emitEvent($event)">
    <ng-container *ngTemplateOutlet="btnBody"></ng-container>
  </button>
  <button *ngSwitchDefault mat-button (click)="emitEvent($event)">
    <ng-container *ngTemplateOutlet="btnBody"></ng-container>
  </button>
</ng-container>
<ng-template #btnBody>
  <mat-icon *ngIf="isIconButton">{{icon | async}}</mat-icon>
  <span *ngIf="isTextButton">{{text | async}}</span>
</ng-template>
