<ng-container *ngIf="mode | async as mode" [ngSwitch]="mode">
  <button *ngSwitchCase="modes.menu" mat-menu-item [disabled]="disabled | async" (click)="emit($event)">
    <ng-container *ngTemplateOutlet="btnBody"></ng-container>
  </button>
  <button *ngSwitchCase="modes.icon" mat-icon-button [disabled]="disabled | async" (click)="emit($event)">
    <ng-container *ngTemplateOutlet="btnBody"></ng-container>
  </button>
  <button *ngSwitchDefault mat-button [disabled]="disabled | async" (click)="emit($event)">
    <ng-container *ngTemplateOutlet="btnBody"></ng-container>
  </button>
</ng-container>
<ng-template #btnBody>
  <mat-icon *ngIf="icon | async as icon">{{icon}}</mat-icon>
  <span *ngIf="text | async as text">{{text}}</span>
</ng-template>
