<ng-container [ngSwitch]="mode">
  <ng-container *ngSwitchCase="'menu'">
    <mat-menu #appMenu="matMenu">
      <ng-container *ngTemplateOutlet="buttons"></ng-container>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>{{menuIcon}}</mat-icon>
    </button>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <ng-container *ngTemplateOutlet="buttons"></ng-container>
  </ng-container>
</ng-container>
<ng-template #buttons>
  <itm-button *ngFor="let action of actions"
    [action]="action" [target]="target" [mode]="mode" (event)="event.emit($event)"></itm-button>
</ng-template>
