@mixin itm-sortable-list-dialog($config) {
  $selector: 'itm-sortable-list-dialog';

  .#{$selector} {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    width: 360px;
    height: 80vh;
    padding: 0 24px;
    margin: 0 -24px;

    & > .mat-toolbar {
      justify-content: space-between;
      box-sizing: content-box;
      margin: -24px -24px 0;
      padding: 0 24px;

      & > button {
        margin: 0 -12px 0 24px;
      }
    }

    & > .mat-dialog-content {
      flex: 1;
    }

    & .mat-dialog-actions {
      justify-content: center;
    }
  }
}
