@mixin itm-table($config) {
  .itm-table {
    @extend .mat-body-1;

    display: block;

    & > .mat-table {
      @extend .mat-elevation-z1;

      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  .itm-table-menu {
    @extend .itm-slot;
    @extend .itm-slot-2;

    margin-top: -4px;
    margin-right: -12px;

    header {
      display: flex;
      flex-flow: row-reverse;
    }
  }

  tr.mat-row.itm-row,
  tr.mat-header-row.itm-header-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  tr.mat-header-row.itm-header-row {
    @extend .mat-elevation-z1;

    position: relative;
    z-index: 2;
    right: 0;
    left: 0;
    transition: top 240ms ease-out;

    &::before {
      content: '';

      position: absolute;
      right: 0;
      bottom: 1px;
      left: 0;
      height: 100vh;
      background-color: white;
    }
  }

  %itm-cell {
    @extend .itm-slot;

    display: flex;
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 4px;
  }


  td.mat-cell.itm-selection-cell,
  th.mat-header-cell.itm-selection-header-cell {
    @extend %itm-cell;
    @extend .itm-slot-1;

    padding-right: 9px;

    &:first-of-type {
      padding-left: 12px;
    }
  }

  th.mat-header-cell.itm-selection-header-cell {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  td.mat-cell.itm-action-cell,
  th.mat-header-cell.itm-action-header-cell {
    @extend %itm-cell;

    justify-content: flex-end;

    &:last-of-type {
      padding-right: 12px;
    }
  }

  td.mat-cell.itm-cell,
  th.mat-header-cell.itm-header-cell {
    @extend %itm-cell;

    flex-grow: 1;
  }

  th.mat-header-cell.itm-header-cell {
    position: relative;
  }
}
