<mat-table [dataSource]="itemsChanges">
  <!-- Actions -->
  <ng-container matColumnDef="itm-actions">
    <th *matHeaderCellDef mat-header-cell [ngClass]="actionHeaderCellClass">
      <button mat-icon-button [matMenuTriggerFor]="tableMenu">
        <mat-icon>settings</mat-icon>
      </button>
    </th>
    <td *matCellDef="let item" mat-cell ngClass="itm-selection-cell" [ngClass]="actionCellClass">
      <ng-container [itmActionsCell]="item" [actions]="actions" [buttonsMode]="actionsButtonsMode" [eventEmitter]="event"></ng-container>
    </td>
  </ng-container>

  <!-- Selection -->
  <ng-container matColumnDef="itm-selection">
    <th *matHeaderCellDef mat-header-cell [ngClass]="selectionHeaderCellClass">
      <button
        mat-icon-button [color]="color"
        [disabled]="!isAllItemsToggable"
        (click)="toggleAllSelection()">
        <mat-icon>{{selectionHeaderCellIcon}}</mat-icon>
      </button>
    </th>
    <td *matCellDef="let item" mat-cell [ngClass]="selectionCellClass">
      <button
        mat-icon-button [color]="color"
        [disabled]="!isToggable(item)"
        (click)="toggleItemSelection(item)">
        <mat-icon>{{getSelectionCellIcon(item)}}</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Columns -->
  <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
    <th *matHeaderCellDef mat-header-cell [ngClass]="getHeaderCellClass(column)">
      <ng-container [itmHeaderCell]="itemsChanges" [column]="column"></ng-container>
    </th>
    <td *matCellDef="let item" mat-cell [ngClass]="getCellClass(column)">
      <ng-container [itmCell]="item" [column]="column"></ng-container>
    </td>
  </ng-container>

  <!-- Rows -->
  <tr *matHeaderRowDef="displayedColumns" mat-header-row [ngClass]="headerRowClass" [ngStyle]="headerRowStyle | async"></tr>
  <tr *matRowDef="let item; columns: displayedColumns;" mat-row [ngClass]="getRowClass(item) | async"></tr>
</mat-table>

<mat-menu #tableMenu="matMenu" [class]="menuClass">
  <itm-buttons [actions]="menuHeaderActions" mode="icon"></itm-buttons>
</mat-menu>
