<div class="hero">
  <itm-demo-background class="background"></itm-demo-background>
  <div>
    <p>Build components without HTML</p>
    <ul>
      <li>
        <span>Strongly typed</span><br />
        <p>Modules functions and interfaces are written with advanced types.</p>
      </li>
      <li>
        <span>Easily hackable</span><br />
        <p>Modules functions and interfaces are typed with Typescript for.</p>
      </li>
      <li>
        <span>Flex designed</span><br />
        <p>Modules functions and interfaces are typed with Typescript for.</p>
      </li>
    </ul>
  </div>
</div>
<div class="banner">
  <p>
    <em>itm</em> is an <a href="//angular.io" target="_blank">angular</a> framework
    for creating templates based on
    <a href="//developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout" target="_blank">CSS&nbsp;Grid&nbsp;Layout</a>.
    Each area is a text observable or a entry component.
  </p>
  <p>
    <em>itm</em> offers many ways to easily build grid templates with code source annotations
    and the API provided with its app.
  </p>
  <p>
    <em>itm</em> grids can take the shape of tables, forms, cards…
    They are immutables, fully extendables and may be configured on the fly.
  </p>
</div>
<div class="schema">
  <itm-demo-schema></itm-demo-schema>
</div>
