<svg xmlns="http://www.w3.org/2000/svg" width="960" height="600" viewBox="0 0 960 600" version="1">
  <g fill="none" fill-rule="evenodd">
    <g stroke="#000" stroke-width="6">
      <path d="M571 500h61M621 503l11-3-11-3M568 441h37V210h96"/>
      <path d="M691 213l10-3-10-3M472 333v-60M475 284l-3-11-3 11M300 471h60M350 474l10-3-10-3M151 331v-60M154 282l-3-11-3 11M817 271v63M814 323l3 11 3-11M575 173h125M690 176l10-3-10-3M300 175h60M350 178l10-3-10-3"/>
    </g>
    <g stroke="#000" stroke-width="6">
      <path d="M691 375h234v163H691z"/>
      <path d="M702 395h211v123H702z"/>
      <path d="M714 421h95v86h-95z"/>
      <path d="M737 421h48v86h-48zM883 421h20v86h-20zM702 386h1v1h-1zM714 386h1v1h-1zM725 386h1v1h-1zM713 406h58M783 406h57"/>
      <path d="M714 445h94v38h-94zM829 440h55v48h-55z"/>
      <path d="M829 421h55v86h-55z"/>
    </g>
    <text fill="#222" font-family="OpenSans-Bold, Open Sans" font-size="14" font-weight="bold" transform="translate(688 345)">
      <tspan x="0" y="15">Application</tspan>
    </text>
    <text fill="#222" font-family="OpenSans-Bold, Open Sans" font-size="10" font-weight="bold" transform="translate(420 345)">
      <tspan x="17" y="76">@ItmType(&#123;…&#125;)</tspan> <tspan x="17" y="90">class Item &#123;</tspan> <tspan x="17" y="104"> @ItmProp(&#123;…&#125;)</tspan> <tspan x="17" y="118"> name</tspan> <tspan x="17" y="132"> …</tspan> <tspan x="17" y="146">&#125;</tspan> <tspan x="17" y="160">…</tspan> <tspan x="17" y="174">…</tspan> <tspan x="17" y="188">....</tspan>
    </text>
    <g stroke="#000" stroke-width="6">
      <path d="M537 399l-20-21h-94v158h114V399z"/>
      <path stroke-linecap="square" d="M515 382v19h20"/>
    </g>
    <text fill="#222" font-family="OpenSans-Bold, Open Sans" font-size="14" font-weight="bold" transform="translate(420 345)">
      <tspan x="0" y="15">Source code</tspan>
    </text>
    <g stroke="#000" stroke-width="6">
      <path d="M111 436h69v-43h-37v-10l-32 1v52zM49 536h69v-43H81v-10l-32 1v52zM174 536h69v-43h-37l-1-10-31 1v52z"/>
      <path stroke-linecap="square" d="M84 470v-11h125v10M146 449v9"/>
    </g>
    <text fill="#222" font-family="OpenSans-Bold, Open Sans" font-size="14" font-weight="bold" transform="translate(36 345)">
      <tspan x="0" y="15">Repository</tspan>
    </text>
    <g>
      <g stroke="#000" stroke-width="6">
        <path d="M762 132h118v110H762z"/>
        <path stroke-linecap="square" d="M838 179l23 11-23 8M826 173l-9 33M805 199l-23-9 23-11"/>
      </g>
      <text fill="#222" font-family="OpenSans-Bold, Open Sans" font-size="14" font-weight="bold" transform="translate(759 105)">
        <tspan x="3" y="15">itm Module</tspan>
      </text>
    </g>
    <g>
      <g stroke="#000" stroke-linecap="square" stroke-width="6" transform="translate(411 74)">
        <ellipse cx="60" cy="20" rx="60" ry="20"/>
        <path d="M0 60c0 11 27 20 60 20s59-9 59-20M0 100c0 11 26 20 59 20 32 0 59-9 59-20"/>
        <path d="M0 19v121c0 11 26 20 59 20 32 0 59-9 59-20l2-121"/>
      </g>
      <text fill="#222" font-family="OpenSans-Bold, Open Sans" font-size="14" font-weight="bold" transform="translate(411 46)">
        <tspan x="0" y="15">itm Database &amp; API</tspan>
      </text>
    </g>
    <g>
      <g stroke="#000" stroke-width="6">
        <path d="M33 75h234v154H33z"/>
        <path d="M44 95h211v123H44z"/>
        <path d="M56 121h95v86H56zM161 121h52v34h-52zM225 121h20v86h-20zM44 86h1v1h-1zM56 86h1v1h-1zM67 86h1v1h-1z"/>
        <path stroke-linecap="square" d="M55 106h58M125 106h57"/>
      </g>
      <text fill="#222" font-family="OpenSans-Bold, Open Sans" font-size="14" font-weight="bold" transform="translate(30 45)">
        <tspan x="0" y="15">itm Editor</tspan>
      </text>
    </g>
  </g>
</svg>
